#wraper{
}
#btnBar{
	margin:0;
}

input[type="text"]{
	padding: 3px 3px;
}

#urlKey{
	width:90%;
}
#selector{
    width:16em;
}
#saveTotxt{
	margin-right:36px;
}
#filename{
	width:720px;
}
textarea{
	width:720px;
	height:480px;
}
